In [176]:
from pandas import *
%matplotlib inline
import pandas as pd
from IPython.core.display import display, HTML
import seaborn as sns
from numpy import median
display(HTML('<h1>rakamin_trial class</h1>'))

In [177]:
insurance = pd.read_csv('insurance.csv')
insurance.head(1000)

     age     sex     bmi  children smoker     region      charges
0     19  female  27.900         0    yes  southwest  16884.92400
1     18    male  33.770         1     no  southeast   1725.55230
2     28    male  33.000         3     no  southeast   4449.46200
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
..   ...     ...     ...       ...    ...        ...          ...
995   39  female  23.275         3     no  northeast   7986.47525
996   39  female  34.100         3     no  southwest   7418.52200
997   63  female  36.850         0     no  southeast  13887.96850
998   33  female  36.290         3     no  northeast   6551.75010
999   36  female  26.885         0     no  northwest   5267.81815

[1000 rows x 7 columns]

In [178]:

insurance['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [179]:
insurance.groupby(["sex"]).sum()

          age        bmi  children       charges
sex
female  26151  20110.070       711  8.321061e+06
male    26308  20917.555       754  9.434764e+06

In [180]:
insurance[insurance['sex'] == 'female']['smoker'].value_counts()

no     547
yes    115
Name: smoker, dtype: int64

In [181]:
insurance[insurance['sex'] == 'female']['charges'].mean()

12569.57884383534

In [182]:
insurance[insurance['age'] == 64]['region'].value_counts()

southeast    8
northwest    5
southwest    5
northeast    4
Name: region, dtype: int64

In [183]:
insurance.groupby(['children']).head(4)

     age     sex     bmi  children smoker     region      charges
0     19  female  27.900         0    yes  southwest  16884.92400
1     18    male  33.770         1     no  southeast   1725.55230
2     28    male  33.000         3     no  southeast   4449.46200
3     33    male  22.705         0     no  northwest  21984.47061
4     32    male  28.880         0     no  northwest   3866.85520
5     31  female  25.740         0     no  southeast   3756.62160
6     46  female  33.440         1     no  southeast   8240.58960
7     37  female  27.740         3     no  northwest   7281.50560
8     37    male  29.830         2     no  northeast   6406.41070
15    19    male  24.600         1     no  southwest   1837.23700
16    52  female  30.780         1     no  northeast  10797.33620
24    37    male  28.025         2     no  northwest   6203.90175
25    59  female  27.720         3     no  southeast  14001.13380
27    55  female  32.775         2     no  northwest  12268.63225
29    31    male  36.300         2    yes  southwest  38711.00000
32    19  female  28.600         5     no  southwest   4687.79700
36    62  female  32.965         3     no  northwest  15612.19335
61    25    male  33.660         4     no  southeast   4504.66240
71    31    male  28.500         5     no  northeast   6799.45800
83    48  female  41.230         4     no  northwest  11033.66170
165   47    male  28.215         4     no  northeast  10407.08585
166   20  female  37.000         5     no  southwest   4830.63000
211   40    male  30.875         4     no  northwest   8162.71625
413   25    male  23.900         5     no  southwest   5080.09600

In [184]:
insurance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [185]:
insurance[insurance['age'] == 64][insurance['children'] == 1] ['region'].value_counts()

/home/diana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

northwest    1
southwest    1
southeast    1
Name: region, dtype: int64

In [186]:
type(insurance[["region", "bmi"]])

pandas.core.frame.DataFrame

In [187]:
insurance.groupby('region', as_index=False)['bmi'].mean()

      region        bmi
0  northeast  29.173503
1  northwest  29.199785
2  southeast  33.355989
3  southwest  30.596615

In [188]:
insurance[insurance['age'] >= 50]['smoker'].value_counts()

no     317
yes     68
Name: smoker, dtype: int64

In [189]:
insurance[insurance['sex'] == 'male'][insurance['age'] >=50]['smoker'].value_counts()

/home/diana/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

no     150
yes     40
Name: smoker, dtype: int64